html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-accent: #FF9900;
  --color-light: #fff;
  --color-dark: #000;

  --gap: 32px;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.about__container {
  max-width: 1800px;
  padding: 0 6px;
  margin: 0 auto;
}

.page {
  min-width: 320px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  background-color: var(--color-light);
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
  max-width: 1920px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1800px;
}

.page__section {
  padding: 12px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}

.header__search {
  cursor: pointer;
  position: relative;
  border: none;
  background-color: inherit;
  outline: none;
}

.header__search svg {
  stroke: #000;
  -webkit-transition: stroke 0.2s ease-in-out;
  -o-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.header__search svg rect {
  fill: #000;
  -webkit-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.header__search:hover svg {
  stroke: #FF9900;
  -webkit-transition: stroke 0.2s ease-in-out;
  -o-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.header__search:hover svg rect {
  fill: #FF9900;
}

.header__search::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -1px;
  outline: 1px solid var(--color-accent);
  outline: none;
  opacity: 0;
}

.header__search:focus::after {
  outline: none;
  outline: 1px solid var(--color-accent);
  opacity: 1;
}

.header__search:active svg {
  stroke: #000;
}

.header__search:active svg rect {
  fill: #000;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-dark);
  position: relative;
  display: inline-block;
  padding: 5px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  display: block;
  margin: auto;
  background: var(--color-accent);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav__link:focus {
  outline: 2px solid var(--color-accent);
  width: 100%;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link:active {
  color: #e1670e;
}

.nav__link:active::after {
  background-color: #e1670e;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 81px;
}

.hero__container {
  background-image: url('../img/hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 620px;
  border-radius: 32px;
  max-width: 1770px;
}

.hero__content {
  padding: 100px 10px 100px 66px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 70px;
  color: var(--color-light);
  margin-bottom: 28px;
  line-height: 120%;
  letter-spacing: 1px;
}

.hero__text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-light);
  margin-bottom: 91px;
}

.hero--large {
  padding: 50px 0 55px 0;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  color: var(--color-light);
}

.button--big {
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  max-width: 280px;
}

.button--accent {
  background-color: var(--color-accent);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  color: var(--color-light);
}

.button--accent:hover {
  background-color: #FFB84D;
}

.button--accent:focus {
  background-color: #FFB84D;
}

.button--accent:active {
  background-color: #E1670E;
}

.about__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-dark);
}

.about__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-dark);
  max-width: 1235px;
}

.about__text {
  margin-bottom: 50px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap);
}

.about__main {
  background-image: url('../img/about.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 868px;
  max-width: 868px;
  min-height: 622px;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.about__info {
  max-width: 870px;
}

.about__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
  min-height: 310px;
}

.about__info-item {
  border: 1px solid #cacaca;
  border-radius: 32px;
  padding: 65px 115px 65px 300px;
}

.about__info-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.about__info-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-dark);
}

.about--medium {
  padding-bottom: 100px;
}

.about__info-item--top {
  background-image: url('../img/about-right-top.svg');
  background-repeat: no-repeat;
  background-position: 60px center;
}

.about__info-item--bottom {
  background-image: url('../img/about-right-bottom.svg');
  background-repeat: no-repeat;
  background-position: 60px center;
}

.steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 460px;
  gap: 142px;
}

.steps__main {
  max-width: 758px;
}

.steps__additional {
  background-image: url('../img/stages.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 870px;
  max-width: 870px;
  min-height: 460px;
  border-radius: 32px;
  margin-top: 8px;
}

.steps__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.steps__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-dark);
}

.steps__main-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.steps__main-text {
  max-width: 758px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-dark);
  margin-bottom: 17px;
  width: 90%;
}

.steps__button-left {
  display: inline-block;
  border: none;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  padding: 20px 39px;
  font-weight: 700;
  font-size: 16px;
}

.button--accent {
  background-color: var(--color-accent);
  color: var(--color-light);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.button--accent:hover {
  background-color: #FFB84D;
}

.button--accent:focus {
  background-color: #FFB84D;
}

.button--accent:active {
  background-color: #E1670E;
}

.steps__button-right {
  display: inline-block;
  border: 1px solid var(--color-dark);
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  padding: 20px 36px;
  font-weight: 400;
  font-size: 16px;
}

.button--transparent {
  background-color: var(--color-light);
  color: var(--color-dark);
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button--transparent:hover {
  background-color: #666666;
  color: var(--color-light);
  border-color: #666666;
}

.button--transparent:focus {
  background-color: #666666;
  color: var(--color-light);
  border-color: #666666;
}

.button--transparent:active {
  background-color: #000000;
  color: var(--color-light);
  border-color: #000000;
}

.steps--medium {
  padding-bottom: 100px;
}

.questions__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-dark);
  margin-bottom: 35px;
}

.questions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --offsets: 2;
  gap: var(--gap);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questions__item {
  padding: 65px 60px 63px;
  max-width: 568px;
  border: 1px solid #cacaca;
  border-radius: 32px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.questions__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-dark);
  margin-bottom: 9px;
  line-height: 120%;
}

.questions__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-dark);
}

.questions--medium {
  padding-bottom: 93px;
}

.footer {
  background-color: var(--color-dark);
  min-height: 594px;
}

.footer__content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list_footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  min-width: 257px;
}

.footer__nav-link {
  color: #cacaca;
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  padding-right: 3px;
  padding-left: 3px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__nav-link:hover {
  color: #FF9900;
}

.footer__nav-link:focus {
  color: #CACACA;
  outline: 2px solid #FF9900;
}

.footer__nav-link:active {
  color: #E1670E;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links-image {
  margin-bottom: 16px;
}

.footer__links {
  margin-right: 345px;
}

.footer__link {
  position: relative;
}

.footer__link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: 0;
  border: 2px solid #FF9900;
  outline: none;
  opacity: 0;
}

.footer__link svg {
  fill: #666666;
  -webkit-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.footer__link:hover svg {
  fill: #FF9900;
}

.footer__link:focus::after {
  fill: #666666;
  opacity: 1;
}

.footer__link:active svg {
  fill: #E1670E;
}

.footer__form-title {
  color: #cacaca;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 27px;
}

.footer__form {
  margin-right: auto;
}

.form__input {
  width: 570px;
  max-width: 570px;
  min-height: 60px;
  border: none;
  background-color: #414141;
  border-radius: 16px;
  color: #cacaca;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  padding-left: 24px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form__input:hover {
  background-color: #666666;
}

.form__input:focus {
  background-color: #666666;
  outline: none;
}

.form__input:active {
  background-color: #666666;
  color: #FFFFFF;
}

.form__input_big {
  padding-bottom: 73px;
  padding-top: 14px;
  padding-right: 24px;
  resize: none;
}

.form__sending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 28px;
}

.form__agreement-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #cacaca;
  cursor: pointer;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  padding-left: 18px;
}

.form__agreement-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid #cacaca;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__agreement-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url('../img/accept-greensvg.svg');
  background-repeat: no-repeat;
  background-size: 90%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form__checkbox:checked+.form__agreement-text::after {
  opacity: 1;
}

.agree-checkbox {
  cursor: pointer;
}

.button--huge {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--color-light);
  background-color: #FF9900;
  border: none;
  padding: 20px 52px;
  border-radius: 16px;
  margin-right: 23px;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.footer__info-text {
  max-width: 360px;
  color: #cacaca;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  padding-top: 88px;
  margin: 0;
}

.about__main-container {
  width: 100%;
  height: 196px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__main-button {
  border: 3px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-light);
  cursor: pointer;
  min-width: 175px;
  min-height: 59px;
  border-radius: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.about__main-button:hover {
  background-color: #FF9900;
}

.about__main-button:focus {
  background-color: #FF9900;
}

.about__main-button:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about__main-text {
  margin: 0;
  max-width: 433px;
  color: var(--color-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
  margin-right: auto;
}

.form__checkbox:focus + .form__agreement-text {
  outline: 1px solid #E1670E;
}
